.footer-section{
    

    @media(min-width: 768px) {
        .footer-section{

        }
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
    }
}

.contact-banner{
    @media(min-width: none;768px) {
        .contact-banner{
            
justify-content: center;
align-items: center;
            text-align: center;
        }
    }
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Default: 2 columns (mobile)
  gap: 1.5rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 640px) {
    grid-template-columns: repeat(4, 1fr); // Small screens
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr); // Medium screens
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr); // Large screens and up
  }
}
