/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.width {
  @apply max-w-4/6;
}




@font-face {
  font-family: 'Metropolis-normal';
  src: url('/fonts/Metropolis-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('/fonts/Metropolis-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('/fonts/Metropolis-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Metropolis-normal', Arial, Helvetica, sans-serif;
}

/* Rest of your global styles */
.bg-notification-ticker {
  background-image: url('/icons/notification-ticker-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}